.chart{
    flex: 4;
    -webkit-box-shadow: 1px 8px 16px 8px aqua;
    box-shadow: 1px 8px 16px 8px rgb(167, 240, 240);
    padding: 10px;
    color: gray;
    
    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgb(181, 179, 179)
    }
}