

// #sign_up_bg {
//     height: 100vh;

//     background-position:center;
//     background-repeat: no-repeat;
//     background-size:cover;
//   }
#sign_up{
  background: rgb(15, 115, 110);
  display: flex;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

  .loginbox{
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    -webkit-box-shadow: 1px 8px 16px 8px aqua;
    box-shadow: 1px 8px 16px 8px rgb(54, 243, 243);
    border-radius: 10px;
  }
  
  .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(50% - 60px);
  
  
  }
  
  #sign_in_up_text {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  .loginbox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="username"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px; 
  }
  
  .loginbox button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #D92B4B;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
  
  }
  
  
  .loginbox button[type="submit"]:hover {
    cursor: pointer;
    background: #3906cf;
    color: #000;
  }

